<div class="header container mt-4">
    <div class="row justify-content-center text-center">
        <h3 class="col-12">WELCOME TO ISTE ADMIN PANEL</h3>
        <h1 class="col-12 interitus-text mt-3">INTERITUS</h1>
        <a class="col-12 caption" style="color: #ff4655; cursor: pointer;">Back</a>
    </div>
</div>

<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 p-3">
            <div class="row justify-content-center px-3">
                {{#each TeamData}}
            
                    <a data-bs-toggle="collapse" href="#{{this.teamId}}" role="button" aria-expanded="false"
                    aria-controls="collapseExample" class="btn btn-danger m-2">{{this.teamId}}</a>
          
                <div class="collapse" id="{{this.teamId}}" style="overflow-y: scroll;">
                    <div class="card card-body" style="color: #ff4655; height: 200px;">
                        <p class="m-0 p-0">They are trying clue {{this.currentClue}}</p>
                        {{#each this.passedAnswers}}
                        <p class="m-0 p-0">Reached clue {{this.clueNo}} at <span class="ml-2">{{this.time}}</span></p> 
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>